.contactform {
    padding-top: 80px;
    margin: 0px 10px;

    @include lg {
        margin: 0px 100px;
        padding-top: 120px;
    }

    form {
        @include lg {
            padding-top: 70px;
        }
    }
}

.contact-title {
    text-align: center; 
}

.contact-info {
    @include lg {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
    }

    .mb-3 {
        @include lg {
            width: 48%;
        }
    }
}