<div class="profile-container">
    <h2>User profile</h2>

    <div class="profile-item">
        <img src="~/images/user-solid.svg" />
        <div class="profile-info">
        <div>
            <p><strong>Customer number:</strong></p>
            <p>@Model.Id</p>
        </div>

        <div>
            <p><strong>First Name:</strong></p>
            <p>@Model.FirstName</p>
        </div>

        <div>
            <p><strong>Last Name:</strong></p>
            <p>@Model.LastName</p>
        </div>

        <div>
            <p><strong>Email:</strong></p>
            <p>@Model.Email</p>
        </div>
    </div>
    </div>
</div>